* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
  a {
    text-decoration: none;
  }
  
  a:hover {
    opacity: 0.8;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  body {
    line-height: 1;
    color: white;
    font-family: "Roboto", sans-serif;
    min-height: 300px;
    background-repeat: no-repeat, no-repeat;
    background-size: auto;
    background-position: top center, bottom center;
    background-color: white;
  }
  .header-img{
    position: relative;
    height: 200px;
    background-image: url(../images/background01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header-img h4 {
    line-height: 20px;
    width: 100%;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(6, 0, 0, 0.8);
  }
  .header-img-main {
    width: 100%;
    height: 260px;
    background-color: rgba(4, 0, 0, 0.6);
  }
  .header-img-main h1 {
    width: 100%;
    line-height: 20px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px;
  }
  .header-img-main h3 {
    width: 100%;
    line-height: 20px;
    font-size: 15px;
    text-align: center;
    padding-top: 30px;
  }
  
  .text{
    width: 100%;
    background-color: black;
    border-top: solid 10px rgb(194, 209, 174);
    position: relative;
  }}
